Source: datacoin
Section: misc
Priority: optional
Maintainer: Hugo Peixoto <hugo.peixoto@gmail.com>
Build-Depends: debhelper (>= 7), libboost-thread-dev
Standards-Version: 3.8.4

Package: datacoin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Datacoin client
  Datacoin is a currency that can be used for transactions and data storage within a blockchain.
