#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export SHELL=/bin/bash

%:
	dh  $@

override_dh_auto_build:
	$(MAKE) -C ../src -f makefile.unix USE_UPNP=- CXXFLAGS="-DDEFAULT_CONF_PATH=/etc/datacoind/datacoin.conf -DDEFAULT_DATA_DIR=/var/lib/datacoind/"

override_dh_auto_configure:
	cd ../src; $(MAKE) -f makefile.unix clean
